body {
  background-color: #604AF8;
}

nav form {
  display: none;
}

nav input[type='text'] {
  display: none;
}

nav button[type='submit'] {
  color: white;
  border: none;
  background-color: transparent;
}

header {
  display: flex;
  justify-content: center;
}

header form {
  width: 70%;
  display: flex;
  justify-content: center;
}

header input[type='text']{
  width: 85%;
  height: 40px;
  border: none;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  border-radius: 10px 0 0 10px;
}

header input[type='submit'] {
  width: 15%;
  border: none;
  background-color: white;
  border-radius: 0 10px 10px 0;
}

.expand_disabled {
  display: none;
}

.expand_active {
  display: block;
}

.btn_down {
  border: none;
  background-color: transparent;
  color: white;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  margin: 0;
  padding: 0 10px;
}

p {
  margin: 0;
  color: #BFBAFB;
  font-size: 12px;
  font-weight: 700;
}

h6 {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  header {
    display: none;
  }
  
  nav form {
    display: block;
  }

  nav form.active {
    width: 65%;
    display: flex;
    justify-content: space-between;
  }

  nav input[type='text'].active {
    display: block;
    width: 85%;
    height: 30px;
    border: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 0 10px;
    border-radius: 10px 0 0 10px;
  }

  nav button[type='submit'].active {
    width: 15%;
    border: none;
    color: black;
    background-color: white;
    border-radius: 0 10px 10px 0;
  }
}

@media (max-width: 767.98px) {
  
}

@media (max-width: 991.98px) {
  
}

@media (max-width: 1199.98px) {
  
}